/* reset básico */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* corpo da página */
body{
    background-color:#f4f6f8;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* card principal */
.container{
    background:white;
    padding:40px;
    border-radius:12px;
    width:350px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:center;
}

/* título */
h2{
    margin-bottom:20px;
}

/* campo de texto */
input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    margin-bottom:15px;
    font-size:14px;
}

/* botão salvar */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background-color:#2563eb;
    color:white;
    font-size:15px;
    cursor:pointer;
    margin-bottom:10px;
}

button:hover{
    background-color:#1e4ed8;
}

/* botão voltar */
a button{
    background-color:#6b7280;
}

a button:hover{
    background-color:#4b5563;
}

/* mensagem de sucesso */
p{
    margin-top:15px;
    color:#16a34a;
    font-weight:bold;
}